.container-card {
	max-width:100%;
	margin: 0 auto;
}
.cards {
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap:wrap;
	margin:10px;
	padding:1%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.card {
	@media (max-width: 700px) {
		width: 100%;
	}
	@media (min-width: 700px) {
		max-width: 320px;

	}
	position:relative;
	background:blue;
	margin:auto;
}